!!!! Generic properties
*foreground:        #b6b7bf
*background:        #0a0c1a
*.foreground:       #b6b7bf
*.background:       #0a0c1a

!!!! Colors

#define accent #F44336

*.color0: #0a0c1a
*color0:  #0a0c1a
*.color1: #B3432A
*color1:  #B3432A
*.color2: #A1625B
*color2:  #A1625B
*.color3: #CF734D
*color3:  #CF734D
*.color4: #DD9064
*color4:  #DD9064
*.color5: #3F6281
*color5:  #3F6281
*.color6: #4E6C88
*color6:  #4E6C88
*.color7: #b6b7bf
*color7:  #b6b7bf
*.color8: #7f8085
*color8:  #7f8085
*.color9: #B3432A
*color9:  #B3432A
*.color10: #A1625B
*color10:  #A1625B
*.color11: #CF734D
*color11:  #CF734D
*.color12: #DD9064
*color12:  #DD9064
*.color13: #3F6281
*color13:  #3F6281
*.color14: #4E6C88
*color14:  #4E6C88
*.color15: #b6b7bf
*color15:  #b6b7bf

!!!! Xft
Xft.dpi: 120
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

!!!! XTerm
XTerm*background: #2b2b2b
XTerm*foreground: #e7e7e7
XTerm*pointerColor: #16A085
XTerm*faceName: Fixed
XTerm*faceSize: 11
XTerm*reverseVideo:               on
XTerm*selectToClipboard:          true

!!!! Xcursor
Xcursor.theme: breeze_cursors
Xcursor.size:                     0
