#include ".Xresources.d/dpi"

! special
*.foreground:   #e7e7e7
*.background:   #2b2b2b
*.cursorColor:  #e7e7e7

! black
*.color0:       #120811
*.color8:       #666666

! red
*.color1:       #cc0403
*.color9:       #bb3b36

! green
*.color2:       #f23333
*.color10:      #f23333

! yellow
*.color3:       #f36c4d
*.color11:      #f36c4d

! blue
*.color4:       #fa9155
*.color12:      #fa9155

! magenta
*.color5:       #f6a454
*.color13:      #f6a454

! cyan
*.color6:       #ae7686
*.color14:      #ae7686

! white
*.color7:       #e5a395
*.color15:      #e5a395



!!!! Xft
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

!!!! XTerm
XTerm*background: #2b2b2b
XTerm*foreground: #e7e7e7
XTerm*pointerColor: #16A085
XTerm*faceName: Fixed
XTerm*faceSize: 11
XTerm*reverseVideo:               on
XTerm*selectToClipboard:          true

!!!! Xcursor
Xcursor.theme: breeze_cursors
Xcursor.size:                     0
