* {
	all: unset;
	font-family: 'Agave Mono';
}

.greeter {
	background-color: transparent;
	color: #f9fdf9;
}

.greeter .sub-title {
	font-size: 22px;
}

.greeter .hero-title {
	font-size: 36px;
	font-weight: 900;
}

.greeter .p {
	font-size: 18px;
}

.greeter .caption {
	font-size: 18px;
}

.greeter .time {
	font-size: 64px;
	font-weight: bold;
}

.greeter .day {
    background-color: #f99f99;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px; 
}

.greeter .main-wrapper {
    padding: 50px;
}

.greeter .dialog {
    padding-left: 40px;
    padding-right: 40px;
}

.greeter .user-pic {
    border-radius: 20px;
    background-color: #15172A;
}
