@theme "~/.config/rofi/power-menu.rasi"

configuration {
	modi: "window,run,ssh,drun";
	drun-display-format: "{name}"; 
	display-drun: "🔎";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
