window {
  height: 60%;
  width: 15%;
}

mainbox {
  orientation: vertical;
  children: [ inputWrapper ];
  background-color: #f00;
}

inputWrapper {
  children: [ blankBox, inputbar, blankBox ];
  orientation: horizontal;
  expand: false;
  width: 100%;
}

inputbar {
  margin: 0 0 50 0;
  children: [prompt, entry];
  background-color: #0f0;
  border: 1;
  border-color: #00f;
  expand: true;
}

prompt {
  background-color: #0f0;
}

entry {
  background-color: #0f0;
}

