#include ".Xresources.d/dpi"

! special
*.foreground:   #d3d0c8
*.background:   #0f1011
*.cursorColor:  #d3d0c8

! black
*.color0:       #0f1011
*.color8:       #747369

! red
*.color1:       #f2777a
*.color9:       #f2777a

! green
*.color2:       #99cc99
*.color10:      #99cc99

! yellow
*.color3:       #ffcc66
*.color11:      #ffcc66

! blue
*.color4:       #6699cc
*.color12:      #6699cc

! magenta
*.color5:       #cc99cc
*.color13:      #cc99cc

! cyan
*.color6:       #66cccc
*.color14:      #66cccc

! white
*.color7:       #d3d0c8
*.color15:      #f2f0ec


!!!! Xft
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

!!!! XTerm
XTerm*background: #2b2b2b
XTerm*foreground: #e7e7e7
XTerm*pointerColor: #16A085
XTerm*faceName: Fixed
XTerm*faceSize: 11
XTerm*reverseVideo:               on
XTerm*selectToClipboard:          true

!!!! Xcursor
Xcursor.theme: breeze_cursors
Xcursor.size:                     16
